@font-face {
  font-family: Helvetica Neue;
  src: url(../font/Helvetica\ Neue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
:root {
  --background-color-01: #545454;
  --logo-color: blue;
  --background-color-02: black;
  --nav-text-color: #3f3e3e;
  --font-heading: 38px;
 ---font-heading-weight: 600;
}

/* navbar-section-start===============  */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#navber-section {
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
 
}
.nav {
  height: 3.5em;
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}
@media screen and (max-width: 1118px) {
  .nav__data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
  }
}
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  transition: color 0.3s;
}
.nav__logo {
  font-size: 1.25rem;
}
.nav__logo:hover {
  color: var(--first-color);
}
.nav__toggler {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__toggle-menu,
.nav__toggle-close {
  font-size: 1.50rem;
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__toggle-close {
  opacity: 0;
}
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
  .social-nav a {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    color: black !important;
  }
  .dropdown__content-sort ul li span {
    background-color: rgb(230, 66, 66);
    padding: 0px 12px 1px;
    color: #fff;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 10px;
    margin-left: 20px;
  }
}
.nav__link {
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
  background-color: #fff;
  z-index: 99;
  height: auto;
}
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}
.dropdown__button i {
  cursor: pointer;
  font-size: 18px;
}
.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__content,
.dropdown__group,
.dropdown__list {
  display: grid;
}
.dropdown__container {
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
.dropdown__content {
  row-gap: 1.75rem;
}
.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}
.dropdown__group ul li a {
  margin-top: 15px;
}
.dropdown__group ul li span {
  background-color: rgb(230, 66, 66);
  padding: 0px 12px 1px;
  color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 10px;
  margin-left: 20px;
}
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}
li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 500;
}
li a:hover {
  color: #3a3a3a;
}
.social-nav i {
  font-size: 20px;
  margin-top: 35px !important;
  padding: 0px 10px;
}
.dropdown-boost {
  width: 200px;
}
.dropdown-boost-img {
  margin-bottom: 20px;
}
.dropdown-boost-img img {
  width: 100%;
  height: 100%;
}
.dropdown-boost-text h5 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}
.dropdown-boost-text p {
  font-size: 14px;
}
.Marketing-span {
  float: right;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 1118px) {
  .nav {
    height: 5.5em;
    display: flex;
    justify-content: space-between;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
    height: 100%;
  }
  .nav li {
    display: flex;
    font-size: 15px;
    font-weight: 500;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }
  .dropdown__container-sort-home {
    position: absolute;
    top: 6.5rem;
    left: 30% !important;
    right: 55% !important;
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    border-radius: 10px !important;
  }
  .dropdown__container-sort-single {
    position: absolute;
    top: 6.5rem;
    left: 36% !important;
    right: 49% !important;
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    border-radius: 10px !important;
  }
  .dropdown__container-explor {
    position: absolute;
    top: 6.5rem;
    left: 60% !important;
    right: 25% !important;
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    border-radius: 10px !important;
  }
  .dropdown__content-sort {
    width: 250px !important;
    margin-inline: auto;
    padding: 1rem 0;
  }
  .dropdown__content-sort ul {
    margin-top: 10px;
    padding: 0px 10px;
  }
  .dropdown__content-sort ul li {
    font-size: 15px;
    width: 250px;
    font-weight: 500;
    color: #3a3a3a;
  }
  .dropdown__content-sort ul li a {
    padding: 10px 5px 8px 10px;
  }
  .dropdown__content-sort ul li:hover {
    background-color: #d8d3d3;
  }
  .dropdown__content-sort ul li span {
    background-color: rgb(230, 66, 66);
    padding: 0px 12px 1px;
    color: #fff;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 10px;
    margin-left: 20px;
  }
  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: #f5f3f3;
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    z-index: 99;
  }
  .dropdown__content {
    grid-template-columns: repeat(6, max-content);
    column-gap: 2rem;
    width: 100%;
  }
  .dropdown__content-full {
    justify-content: space-between;
    padding: 0px 50px;
  }
  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
    margin-left: -60px;
  }
  .dropdown__group:first-child,
  .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover>.dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
  .dropdown__item:hover>.dropdown__container-sort {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}
/* navbar-section-end=============== */
/* hero-section-start=============== */
#hero-section {
  padding: 80px 0px;
}
.hero-editor h1 {
  font-size: 35px;
  font-weight: 600;
}
.hero-editor p {
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--nav-text-color);
  font-weight: 500;
}
.hero-main {
  position: relative;

}
.hero-main-img {
  border-radius: 15px;
  width: 100%;
  height: 450px;
}
.hero-main-img
img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.hero-main-uperdiv {
  position: absolute;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 8%;
  left: 2%;
  box-shadow: 0 10px 18px 20px hsla(220, 68%, 12%, 0.05);
  border-radius: 15px;
  padding: 30px 30px;
  
}
@media screen and (max-width: 800px) {
  .hero-main-uperdiv {
    position: absolute;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 80%;
    box-shadow: 0 10px 18px 20px hsla(220, 68%, 12%, 0.05);
    border-radius: 15px;
    padding: 30px 30px;
  }
}
.hero-main-uperdiv a {
  background-color: rgb(237, 247, 190);
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.hero-main-uperdiv h3 {
  font-size: 25px;
  margin-top: 20px;
 
}
.hero-main-uperdiv-info {
  display: flex;
  margin-top: 20px;
}
.hero-main-uperdiv-info-img {
  width: 40px;
  height: 20px;
  border-radius: 50%;
}
.hero-main-uperdiv-info-img .foul {
  width: 100%;
  border-radius: 50%;
  height: 40px;
}
.hero-main-uperdiv-info-text {
  margin-left: 20px;
}
.hero-main-uperdiv-info-text h5 {
  font-size: 14px;
  font-weight: 600;
}
.hero-main-uperdiv-info-reacet span:nth-child(1) {
  font-size: 14px;
  padding: 3px 12px;
  border-radius: 10px;
}
.hero-main-uperdiv-info-reacet span:nth-child(1):hover {
  background-color: rgb(252, 221, 232);
  color: rgb(161, 16, 64);
}
.hero-main-uperdiv-info-reacet span:nth-child(2) {
  margin-left: 20px;
  font-size: 14px;
  padding: 3px 12px;
  border-radius: 10px;
}
.hero-main-uperdiv-info-reacet span:nth-child(2):hover {
  background-color: rgb(232, 250, 250);
  color: rgb(2, 88, 88);
}
.hero-main-uperdiv-info-reacet span:nth-child(3) {
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.hero-main-uperdiv-info-reacet span:nth-child(3):hover {
  background-color: #ffffff;
}

/* hero-section-end=============== */
/* newest-section-start=============== */
#newest-section{
  padding: 50px 0px;
  background-color: #f3f2f2;
}
.newest-header h1{
  text-align: center;
  font-size:var(--font-heading);
  font-weight: var(---font-heading-weight);
}
.newest-header p{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  word-spacing: 2px;
  color: var(--nav-text-color);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 15px;
 position: relative;
}
#newest-section a{
  text-decoration: none;
  color: var(--nav-text-color);
}
#newest-section a:hover{
 
  color: var(--nav-text-color);
}


.swiper-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch !important;
}

.Special_newest_wrapper {
  position: relative;
  width: 100%;
  padding: 20px 0px;
}

.card_slider {
  padding: 30px 20px;
}

.card_slider .swiper-button-next {
  width: 40px;
  height: 40px;
  background: #fff;
  position: absolute;
  border-radius: 50px;
  font-size: 10px !important;
  padding: 22px 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
}



.swiper-button-next:hover {
  background: var(--primary-color);
  position: absolute;
  color: var(--white);
}

.swiper-button-prev {
  right: -100px !important;
}

.swiper-button-prev:hover {
  background: var(--primary-color);
  position: absolute;
  color: var(--white);
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50px;
  right: -99.5% !important;
  padding: 20px 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  background-color: #fff;
}

.swiper-button-prev::after {
  font-size: 15px !important;
  font-weight: 700;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.swiper-button-next::after {
  font-size: 15px !important;
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 0 !important;
}


.newest-authors {
  background: var(--white);
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
  transition: 0.5s ease;
}
.newest-authors-img{
  height: 160px !important  ; 
  width: 100%;

}
.newest-authors-text{
  padding: 0px 0px 15px 0px;
}
.newest-authors-img img{
  object-fit: cover;
  width: 100%;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}
.newest-authors-text-img{
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  margin-top: -30px;
}
.newest-authors-text-img img{
  width: 100%;
  object-fit: cover;
  height: 60px;
  border-radius: 50%;
}
.newest-authors-text h5{
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.newest-authors-text p{
  font-size: 15px;
color: var(--nav-text-color);
}
.newest-authors span{
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 13px;
  background-color:#fff;
  padding: 3px 20px;
  color: var(--nav-text-color);
  border-radius: 15px;
}
.newest-authors span i{
 color: orange;
font-size: 14px;
}
@media screen and (max-width: 991px) {
  .card_slider {
    padding: 30px 15px;
  }
  .swiper-button-next {
    left: 94%;
  }
  #newest-section{
    padding: 50px 0px;
    background-color: #f3f2f2;
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-next {
    left: 92%;
  }
  .card_slider {
    padding: 30px 10px;
  }
  .swiper-button-prev {
    left: 0;
  }
}

@media screen and (max-width: 575px) {
  #newest-section{
    padding: 50px 0px;
    background-color: #f3f2f2;
    margin-top: 130px;
  }
  .swiper-button-next {
    left: 89%;
  }

}

@media screen and (max-width: 400px) {
  .swiper-button-next {
    left: 88%;
  }

}
/* Special Offers End */
/* newest-section-end=============== */

/* trending-section-start=============== */
#trending-section{
  padding: 50px 0px;
}
.trending-header h1{
font-size: var(--font-heading);
font-weight: var(---font-heading-weight);
}

.trending-header p{
  font-size: 20px;
  word-spacing: 2px;
  color: var(--nav-text-color);
}
#trending-section a{
  text-decoration: none;
  color: var(--nav-text-color);
}
#trending-section a:hover{
 
  color: var(--nav-text-color);
}




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 15px;
 position: relative;
}
.swiper-slide a{
  text-decoration: none;
  color: var(--nav-text-color);
}


.swiper-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch !important;
}

.Special_newest_wrapper {
  position: relative;
  width: 100%;
  padding: 20px 0px;
}

.card_slider {
  padding: 30px 20px;
}

.card_slider .swiper-button-next {
  width: 40px;
  height: 40px;
  background: #fff;
  position: absolute;
  border-radius: 50px;
  font-size: 10px !important;
  padding: 22px 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
}



.swiper-button-next:hover {
  background: var(--primary-color);
  position: absolute;
  color: var(--white);
}

.swiper-button-prev {
  right: -100px !important;
}

.swiper-button-prev:hover {
  background: var(--primary-color);
  position: absolute;
  color: var(--white);
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50px;
  right: -99.5% !important;
  padding: 20px 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  background-color: #fff;
}

.swiper-button-prev::after {
  font-size: 15px !important;
  font-weight: 700;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.swiper-button-next::after {
  font-size: 15px !important;
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 0 !important;
}


.trending-topics-garden{
  background: var(--white);
  width: 100%;
  height: 100%;
  border-radius: 20px !important;
  transition: 0.5s ease;
}

.trending-topics-garden-img{
  position: relative;
}
.trending-topics-garden-img img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.trending-topics-garden-img span{
  position: absolute;
  top: 8%;
  left: 5%;
  padding: 0px 15px;
  background-color: rgb(153, 169, 216);
  font-size: 12px;
  color: rgb(17, 17, 129);
  border-radius: 10px;
}
.trending-topics-garden-text{
  display: flex;
  padding: 20px 0px;
}
.trending-topics-garden-color{
  width: 40px ;
  height: 40px;
  background-color: blue;
  border-radius: 50%;
}
.trending-topics-jewelry-color{
  width: 40px ;
  height: 40px;
  background-color: red;
  border-radius: 50%;
}
.trending-topics-industial-color{
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 50%;
}
.trending-topics-text-gar{
  margin-left: 10px;
}
.trending-topics-text-gar h4{
  font-size: 18px;
}
.trending-topics-text-gar p{
  font-size: 15px;
  margin-top: -8px;
}
@media screen and (max-width: 991px) {
  .card_slider {
    padding: 30px 15px;
  }
  .swiper-button-next {
    left: 94%;
  }
  #newest-section{
    padding: 50px 0px;
    background-color: #f3f2f2;
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-button-next {
    left: 92%;
  }
  .card_slider {
    padding: 30px 10px;
  }
  .swiper-button-prev {
    left: 0;
  }
}

@media screen and (max-width: 575px) {
  #newest-section{
    padding: 50px 0px;
    background-color: #f3f2f2;
    margin-top: 130px;
  }
  .swiper-button-next {
    left: 89%;
  }

}

@media screen and (max-width: 400px) {
  .swiper-button-next {
    left: 88%;
  }

}
/* trending-section-end=============== */